.App {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Ensures the divs take the full height of the viewport */
}

.left-div, .right-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers children vertically */
  align-items: center; /* Centers children horizontally */
  padding: 20px;
  letter-spacing: 2px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
}

textarea {
  margin: 10px 0;
  width: 100%
}

button {
  margin: 10px 0;
}

.score-box, .display-box {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  text-align: center; /* Centers text inside the box */
}

.score-box {
  background-color: #f0f0f0;
}

.display-box {
  background-color: #e0e0e0;
}
